<template>
  <div class="container">
    <h1>Faça login para acessar a página secreta</h1>
    <form v-if="!$store.state.user" @submit.prevent="login">
      <p v-if="formError" class="error">
        {{ formError }}
      </p>
      <p>usuario: <input v-model="formusuario" type="text" name="usuario"></p>
      <p>senha: <input v-model="formsenha" type="password" name="senha"></p>
      <button type="submit">
        Login
      </button>
    </form>
    <div v-else>
      Buh {{ $store.state.user.usuario }}
      <pre>Você está autenticado.</pre>
      <button @click="logout">
        Logout
      </button>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      formError: null,
      formusuario: '',
      formsenha: ''
    }
  },
  methods: {
    async login () {
      try {
        await this.$store.dispatch('login', {
          usuario: this.formusuario,
          senha: this.formsenha
        })
        this.formusuario = ''
        this.formsenha = ''
        this.formError = null
      } catch (e) {
        this.formError = e.message
      }
    },
    async logout () {
      try {
        await this.$store.dispatch('logout')
      } catch (e) {
        this.formError = e.message
      }
    }
  }
}
</script>

<style>
.container {
  padding: 100px;
}
.error {
  color: red;
}
</style>